

body {
  font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-image:url("../img/nature1.jpg") no-repeat;
  padding-top: 70px;
  color: white;
  background-repeat: repeat-y;
  background-size: 100%;
}




/* Form text input */
input {
line-height: normal;
width: 210px;
height: 30px;
padding: 10px 5px;
float: left;
font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
border: 0;
background: #eee;
border-radius: 3px 0 0 3px;
}

input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    

/* Form submit button */
button {
overflow: visible;
overflow: visible;
position: relative;
float: left;
border: 0;
padding: 0;
cursor: pointer;
height: 30px;
width: 140px;
font: bold 17px/30px 'lucida sans', 'trebuchet MS', 'Tahoma';
color: #fff;
text-transform: uppercase;
background: #25CDEC;
border-radius: 0 3px 3px 0;
text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

button:hover{     
    background: #1fbad6;
    opacity:.9
}   

button:active,
button:focus{   
    background: #2fbad6;
    outline: 0;   
}

button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #25CDEC transparent;
    top: 7px;
    left: -8px;
}

button:hover:before{
    border-right-color: #1fbad6;
}
 

 button:focus:before,
button:active:before{
        border-right-color: #1fbad6;
}      


h1.ui.header {
font-size: 2rem;
color: white;
}

li.city {
display: list-item;
text-decoration: none;
text-align: left;
margin-left: 0px;
margin-top: 69px;
margin-bottom: -30px;
font-size: 40px;
}


div.ui.segment {
  font-size: 14px;
  padding: 5px;
/* position: relative; */
background-color: #ffffff;
box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
/* margin: 1rem 0em; */
padding: 1em 1em;
border-radius: 0.2857rem;
border: none;
margin-top: 50px;
margin-top: 92px;
}



h1 {
font-size: 45px;
line-height: 1.33em;
margin: -webkit-calc(2rem - 0.165em ) 0em 1rem;
margin: calc(2rem - 0.165em ) 0em 1rem;
font-weight: bold;
padding: 0em;
margin-left: 22px;
color: white;
text-align: center;
}


p {
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 9px;
}

ul {
font-size: 35px;
font-weight: 100;
font-style: normal;
margin-left: -40px;
}


h2 {
font-size: 75px;
}

h5 {
font-size: 14px;
margin: 0px;
text-align: right;
padding: 5px;
}


#weather {
  width: 425px;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

#weather h2 {
  margin: 0 0 8px;
  color: #595959;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}

#copy {
  font-size: 15px;
  margin-top: 50px;
  margin-left: -10px;
  text-align: center;
  color: #676767;
}

h4 {
  font-size: 20px;
}






.ui.cards > .card, .ui.card {
max-width: 100%;
position: relative;
display: block;
width: 100%;
min-height: 0px;
background: rgba(255, 255, 255, 0);
padding: 0em;
border: none;
border-radius: 0.2857rem;
box-shadow: 0px 0.2em 0px 0px #d4d4d5, 0px 0px 0px 1px #d4d4d5;
-webkit-transition: box-shadow 0.2s ease;
transition: box-shadow 0.2s ease;
z-index: '';
}


h1{
font-size: 45px;
line-height: 1.33em;
margin: -webkit-calc(2rem - 0.165em ) 0em 1rem;
margin: calc(2rem - 0.165em ) 0em 1rem;
font-weight: bold;
padding: 0em;
margin-left: 22px;
text-align: center;
}

article {
  text-align: center;
}

ul {
  font-size: 35px;
  font-weight: 100;
  font-style: normal;
}

li {
display: list-item;
 list-style: none;
}

ul.item {
  text-align: left;
}

}
.ui.menu {
margin: 1rem 0rem;
background: rgba(255, 255, 255, 0);
font-size: 0px;
padding: 0px;
font-weight: normal;
box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 1px 0 rgba(0, 0, 0, 0.05);
border-radius: 0.2857rem;
}


a {
color: #009fda;
text-decoration: none;
font-size: 20px;
}

li {
display: list-item;
text-decoration: none;
}


//* .day {
  background: #FFF;
  color: #333;
}

.night {
  background: #333;
  color: #FFF;
}